
.navbar {
    display: flex;
    justify-content: center; /* Центрируем содержимое */
    width: 100%;
    flex-direction: row;
    padding: 16px;
}

.navbar__links {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Ограничиваем максимальную ширину */
    justify-content: space-between; /* Распределяем пространство */
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #ff98fd;
}
